<% content_for(:title, t('.title')) %>
<div class="container d-flex flex-wrap justify-content-center justify-content-center pt-5">
  <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">
    <h1 class="text-center text-xl-start"><%= t '.title' %></h1>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>グループ名</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @group.group_name %></td>
            <td>
              <% if @group.owner_id == current_user.id %>
                <%= link_to 'Add User', add_user_teacher_group_path(@group), class: "btn btn-sm btn-primary" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>